.header {
    text-align: center;
    padding-top: 8px;
    max-width: 320px;
    margin: 0 auto;
    position: relative;
    &::after {
        content: "";
        background-image: url('/images/dist/pic-donuts.png');
        background-position: top;
        background-repeat: no-repeat;
        background-size: 38%;
        height: 100%;
        right: 99px;
        position: absolute;
        top: -2px;
        width: 100%;
        z-index: -1;
    }
    &::before {
        content: "";
        background-image: url('/images/dist/bg-header-mobail.png');
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
        background-attachment: fixed;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -2;
            }
    &__list {
        display: none;
    }
    &__btn {
        position: absolute;
        top: 0;
        right: 0;
        margin: 16px 20px;
        padding: 0;
        background-color: #FEF3E4;
        border: none;
    }
    &__title {
        font-size: 30px;
        padding: 0 28px;
        margin: 0;
        margin-top: 31px;
        line-height: 1.3;
    }
    &__text {
        margin: 0;
        padding: 0;
        margin-top: 8px
    }
    &__button {
        margin-top: 32px
    }
    &__list-social {
        display: flex;
        justify-content: center;

        margin-top: 40px;
    }
    &__item-social {
        padding: 9px;
    }

}