.button {
    background-color: #AB816C;
    border-radius: 25px;
    border: none;
    padding: 8px 47px;
    
    color: #FFFFFF;
    font-weight: 400;
    font-family: 'Caveat Brush', cursive;
    font-size: 18px;
    line-height: 1.3;

}