<section class="about container">
    <img class="about__images" src="images/dist/img-about.png" alt="about pictures" width="279" height="298">
    <h2 class="about__title">About us</h2>
    <p class="about__text">Oh My Donut is the shop which adores tasty deserts and spend hours to create sophisticated donuts which will save the world!
    <br><br>Eva has been baking since she was six years old and over the last 49 years, she has created hundreds of cakes for weddings and has baked for many celebrities. Eva and our shop have received multiple awards & recognition for excellence. </p>
    <button class="about__botton botton-read"><a href="#">Read more</a></button>
</section>