<section class="contact container">
    <h2 class="contact__title general-title">Contact</h2>
    <form class="contact__form" name="" autocomplete="">
        <h3 class="contact__form-title">We will answer any question!</h3>
        <label class="contact__form-label"><input class="contact__form-input" type="email" name="user_email" placeholder="Email" /></label>
        <label class="contact__form-label"><input class="contact__form-input" type="text" name="user_question " placeholder="Type your question" /></label>
        
        <button class="contact__form-button button" type="submit">Send</button>
    </form>
</section>