<section class="footer containter">
    <ul class="footer__social">
        <li class="footer__item">
            <svg class="footer__icons" width="16" height="16" aria-label="infoIcon">
                <use
                    class="footer__icon"
                    href="./images/dist/icons.svg#icon-twitter">
                </use>
            </svg>
        </li>
        <li class="footer__item">
            <svg class="footer__icons" width="16" height="16" aria-label="infoIcon">
                <use
                    class="footer__icon"
                    href="./images/dist/icons.svg#icon-instagram">
                </use>
            </svg>
        </li>
        <li class="footer__item">
            <svg class="footer__icons" width="16" height="16" aria-label="infoIcon">
                <use
                    class="footer__icon"
                    href="./images/dist/icons.svg#icon-facebook">
                </use>
            </svg>
        </li>
    </ul>
    <ul class="footer__contacts">
        <li class="footer__tel">
            <svg
            class="footer__icons-tell"
            width="13"
            height="12"
            aria-label="infoIcon">
            <use
                class="footer__icon"
                href="./images/dist/icons.svg#icon-tell"
            ></use>
            </svg>
            <a class="footer__link" href="tel:+9102228855">(910)222-8855</a>
        </li>
        <li class="footer__location">
            <svg
            class="footer__icons-location"
            width="11"
            height="13.5"
            aria-label="infoIcon">
            <use
                class="footer__icon"
                href="./images/dist/icons.svg#icon-location">
            </use>
            </svg>
            <a class="footer__link" href="https://www.google.com/maps?q=40.712786, -74.00579" target="_blank">New York</a>
        </li>
    </ul>
</section>
