<section id="program" class="program container">
  <ul class="program__content">
    <li class="program__title">
      <h2 class="general-title">Program</h2></li>
    <li class="program__t">
      <p class="program__text-paragraph">
        Indulge in this immersive sweet treat experience with The Chef Donut
        Queen in her New York donut shop!
      </p>
    </li>
    <li class="program__content-list">
      <ul class="program__list ">
        <li class="program__item">A stand up history of donuts</li>
        <li class="program__item">Make 3 donut flavors of your choice</li>
        <li class="program__item">Enjoy all-you-can-eat donuts</li>
        <li class="program__item">Cocktail pairings and coffee included</li>
        <li class="program__item">Photoshoot by professional photographer</li>
        <li class="program__item">Secret receipt of cooking from Eva</li>
        <li class="program__item">All products are included in the price</li>
        <li class="program__item-text"><p>Come with your dear people and friends
          and you will spend an unforgettable time and
          will become a real professional in donuts cooking!</p></li>
      </ul>
    </li>
    <li>
      <button class="program__button button-read" 
      aria-expanded="false"
      aria-controls="program-item-more"
      data-program-button>
      Read More
      </button>
    </li>
  </ul>
  <ul class="program__service">
    <li class="program__service-item">
      <a class="program__service-link" href="#">
        <picture class="program__img">
          <source
            media="(max-width: 767px)"
            srcset="
          ./images/dist/programs/mobile/1_mobile1x.png,
          ./images/dist/programs/mobile/1_mobile@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px) and (max-width: 1279px)"
            srcset="
          ./images/dist/programs/tablet/1_tablet1x.png,
          ./images/dist/programs/tablet/1_tablet@2x.png 2x
            "
          />
          <source
            media="(min-width: 1280px)"
            srcset="
          ./images/dist/programs/desktop/1_desktop1x.png,
          ./images/dist/programs/desktop/1_desktop@2x.png 2x
            "
          />
          <img
            src="./images/dist/programs/mobile/1_mobile1x.png"
            alt="type of the event"
          />
        </picture>
        <h3 class="program__service-title">Type of the event</h3>
        <p class="program__sevice-text">Cooking classes</p>
        <svg
          class="program__icons"
          width="19"
          height="19"
          aria-label="infoIcon"
        >
          <use
            class="program__icon"
            href="./images/dist/icons.svg#icon-Frame-19"
          ></use>
        </svg>
      </a>
    </li>
    <li class="program__service-item">
      <a class="program__service-link" href="#">
        <picture class="program__img">
          <source
            media="(max-width: 767px)"
            srcset="
            ./images/dist/programs/mobile/2_mobile1x.png,
            ./images/dist/programs/mobile/2_mobile@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px) and (max-width: 1279px)"
            srcset="
            ./images/dist/programs/tablet/2_tablet1x.png,
            ./images/dist/programs/tablet/2_tablet@2x.png 2x
            "
          />
          <source
            media="(min-width: 1280px)"
            srcset="
            ./images/dist/programs/desktop/2_desktop1x.png,
            ./images/dist/programs/desktop/2_desktop@2x.png 2x
            "
          />
          <img
            src="./images/dist/programs/mobile/2_mobile1x.png"
            alt="type of the event"
          />
        </picture>
        <h3 class="program__service-title">Number of guests</h3>
        <p class="program__sevice-text">1 to 20</p>
        <svg
          class="program__icons"
          width="19"
          height="19"
          aria-label="infoIcon"
        >
          <use
            class="program__icon"
            href="./images/dist/icons.svg#icon-Frame-20"
          ></use>
        </svg>
      </a>
    </li>
    <li class="program__service-item">
      <a class="program__service-link" href="#">
        <picture class="program__img">
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/dist/programs/mobile/3_mobile1x.png,
              ./images/dist/programs/mobile/3_mobile@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px) and (max-width: 1279px)"
            srcset="
              ./images/dist/programs/tablet/3_tablet1x.png,
              ./images/dist/programs/tablet/3_tablet@2x.png 2x
            "
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/dist/programs/desktop/3_desktop1x.png,
              ./images/dist/programs/desktop/3_desktop@2x.png 2x
            "
          />
          <img
            src="./images/dist/programs/mobile/3_mobile1x.png"
            alt="type of the event"
          />
        </picture>
        <h3 class="program__service-title">Time of the event</h3>
        <p class="program__sevice-text">18:30 (2.5 hours)</p>
        <svg
          class="program__icons"
          width="19"
          height="19"
          aria-label="infoIcon"
        >
          <use
            class="program__icon"
            href="./images/dist/icons.svg#icon-Frame-21"
          ></use>
        </svg>
      </a>
    </li>
    <li class="program__service-item">
      <a class="program__service-link" href="#">
        <picture class="program__img">
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/dist/programs/mobile/4_mobile1x.png,
              ./images/dist/programs/mobile/4_mobile@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px) and (max-width: 1279px)"
            srcset="
              ./images/dist/programs/tablet/4_tablet1x.png,
              ./images/dist/programs/tablet/4_tablet@2x.png 2x
            "
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/dist/programs/desktop/4_desktop1x.png,
              ./images/dist/programs/desktop/4_desktop@2x.png 2x
            "
          />
          <img
            src="./images/dist/programs/mobile/4_mobile1x.png"
            alt="type of the event"
          />
        </picture>
        <h3 class="program__service-title">The host speaks</h3>
        <p class="program__sevice-text">English, French</p>
        <svg
          class="program__icons"
          width="19"
          height="19"
          aria-label="infoIcon"
        >
          <use
            class="program__icon"
            href="./images/dist/icons.svg#icon-Frame-22"
          ></use>
        </svg>
      </a>
    </li>
  </ul>
</section>
