.about {
    max-width: 320px;
    align-items: center;
    &__title {
        text-align: center;
        margin: 0;
        margin-top: 25px;
    }
    &__text {
        margin: 0;
        margin-top: 8px;
        text-align: justify;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
        color: #2E2520;
    }
    &__button {
        margin-top: 18px
    }
}