.program {
  &__item {
    &:before {
      content: ">";
      margin-right: 8px;
    }
  }
  &__button {
    margin-top: 18px;
  }
  &__service{
    display: grid;
    // height: 100vh;
    grid-template-columns: repeat(2, 130px);
    margin-top: 55px;
    grid-column-gap: 20px;
    
  }
  &__img {
    position: absolute;
    top: -40px;
    left: 25px;
  }
  &__service-item {
    padding: 50px 6px 38px 6px;
    background-color: #fef3e4;
    border-radius: 100%;
    width: 130px;
    height: 130px;
    position: relative;
    &:nth-child(2) {
      margin-top: 36px;
    }
    &:nth-child(3) {
      margin-top: 28px;
    }
    &:nth-child(4) {
      margin-top: 59px;
    }
  }
  &__service-link {
    text-decoration: none;
    color:inherit;
  }
  &__service-title {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    font-family: Caveat Brush;
    text-align: center;
  }
  &__sevice-text {
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 1.2;
    font-style: normal;
    font-weight: 400;
  }
  &__icons {
    position: absolute;
    bottom: 10px;
    left: 42%;
  }
  // &__service-link {
  //   list-style: none;
  //   text-decoration: none;
  //   color: inherit;
  //   &:hover {
  //     color: inherit;
  //   }
  }


  /* Cooking classes */


